<html>
<head><title></title></head>

<body>

    <h1>Отчёт</h1>

    <a name="Start"></a>
    <h2>Содержание</h2>
    <ul>
        <li><a href="#Section1">Раздел 1. Аналитика</a></li>
        <li><a href="#Section2">Раздел 2. Аналитика</a></li>
        <li><a href="#Section3">Раздел 3. Аналитика</a></li>
    </ul>

    <a name="Section1"></a><h2>Раздел 1. Аналитика</h2>
    Уровень горизонтального доверия

    2.1. Декларируемый уровень доверия к коллегам (вопросы Б13, Б14, Б10, Б25, Б30).

    2.1.1. Диаграмма «Признание ценности сотрудничества и доверия». Общее среднее по всей выборке по вопросам Б13, Б14.

    2.1.2. Диаграмма «Признание ценности сотрудничества и доверия. Кластер Муниципалитет». Общее среднее по всей выборке по вопросам Б13, Б14.
    2.1.3. Диаграмма «Признание ценности сотрудничества и доверия. Кластеры ДОУ, ОУ, СПО». Общее среднее по всей выборке по вопросам Б13, Б14.
    2.1.4. Диаграмма  «Признание ценности сотрудничества и доверия. Группа по возрасту». Общее среднее по всей выборке по вопросам Б13, Б14.
    2.1.5. Диаграмма «Признание ценности сотрудничества и доверия. Группа по квалификационной категории». Общее среднее по всей выборке по вопросам Б13, Б14.

    2.1.6. Диаграмма «Общее среднее по всей выборке по вопросам, включенным в блок «Декларируемый уровень доверия к коллегам»
    (Порядок вопросов - Б10, Б14, Б25, Б13, Б30).

    <br />
    <p style="text-align:center"> <a href="#Start">>> В начало >></a></p>


    <a name="Section2"></a><h2>Раздел 2. Аналитика</h2>
    Декларируемый уровень вертикального доверия.
    3.1.1. Диаграмма «Декларируемый уровень доверия к руководству». Общее среднее по всей выборке по вопросу Б18.
    3.1.2. Диаграмма  «Декларируемый уровень доверия к руководству. Кластер Муниципалитет».
    3.1.3. Диаграмма  «Декларируемый уровень доверия к руководству. Кластеры ДОУ, ОУ, СПО».
    3.1.4. Диаграмма «Декларируемый уровень доверия к руководству. Группа по возрасту».
    3.1.5. Диаграмма «Декларируемый уровень доверия к руководству. Группа по квалификационной категории».
    Текст

    <br />
    <p style="text-align:center"> <a href="#Start">>> В начало >></a></p>

    <a name="Section3"></a><h2>Раздел 3. Аналитика</h2>
    Позиция администрации по отношению горизонтального контроля (вопрос Б11).
    4.1.1. Диаграмма «Отношение администрации к горизонтальному контролю» - Общее среднее по всей выборке по вопросу Б11.
    4.1.2. Диаграмма «Отношение администрации к горизонтальному контролю. Кластер Муниципалитет» - Общее среднее по всей выборке по вопросу Б11.
    4.1.3. Диаграмма  «Отношение администрации к горизонтальному контролю. Кластеры ДОУ, ОУ, СПО» - Общее среднее по всей выборке по вопросу Б11.

    <br />
    <p style="text-align:center"> <a href="#Start">>> В начало >></a></p>

</body>

</html>
