<html>
<head><title></title></head>

<body>

    <h1>АНАЛИЗ УРОВНЯ СОЦИАЛЬНОГО КАПИТАЛА</h1>
    <h2>Данные анкетирования административных и педагогических работников</h2>

    <a name="Start"></a>
    <h2>Содержание</h2>
    <ul>
        <li>
            <a href="#Section1">1. Состав группы анкетируемых</a>
            <ul>
                <li><a href="#Section11">1.1. Список сотрудников</a></li>
            </ul>
        </li>     
        <li>
            <a href="#Section2">2. Уровень горизонтального доверия</a>
            <ul>
                <li>
                    <a href="#Section21">2.1. Декларируемый уровень доверия к коллегам</a>
                    <ul>
                        <li>
                            <a href="#Section211">2.1.1. Признание ценности сотрудничества и доверия (сводный результат)</a>
                        </li>
                        <li>
                            <a href="#Section212">2.1.2. Признание ценности сотрудничества и доверия (по группам)</a>
                        </li>
                        <li>
                            <a href="#Section213">2.1.3. Данные по вопросам, включенным в блок "Декларируемый уровень доверия к коллегам"</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#Section22">2.2. Регламентированный и нерегламентированный обмен опытом</a>
                    <ul>
                        <li>
                            <a href="#Section221">2.2.1. Частотность обмена опытом в организации (сводный результат)</a>
                        </li>
                        <li>
                            <a href="#Section222">2.2.2. Частотность обмена опытом в организации (по группам)</a>
                        </li>
                        <li>
                            <a href="#Section223">2.2.3. Данные по вопросам, включенным в блок "Регламентированный и нерегламентированный обмен опытом"</a>
                        </li>
                        <li>
                            <a href="#Section224">2.2.4. Тип организации взаимодействия по обмену опытом</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#Section23">2.3. Наличие команд, совместной деятельности</a>
                    <ul>
                        <li>
                            <a href="#Section231">2.3.1. Участие в работе команд </a>
                        </li>
                        <li>
                            <a href="#Section232">2.3.2. Частотность работы команд</a>
                        </li>
                        <li>
                            <a href="#Section233">2.3.3. Процедура работы команд</a>
                        </li>
                        <li>
                            <a href="#Section234">2.3.4. Частотность совместной деятельности</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>


    <!- ======================================================== ->
    <a name="Section1"></a><h2>1. Состав группы анкетируемых</h2>
    <ul>
        <li> Количество административных и педагогических работников – \nTotal.
        <li> Количество заполнивших анкету – \nParticipated.
        <li> Административные работники – \numBoss.
        <li> Педагогические работники – \numTeacher.
        <li> Пол <br/>
        <table border="1">
            <tr>
                <th>Мужчины</th> 
                <th>Женщины</th>
            </tr>
            <tr>
                <td>\numMen</td> 
                <td>\numWomen</td>
            </tr>
        </table>

        <li> Возраст <br />
            <table border="1">
                <tr>
                    <th>до 25 лет</th>
                    <th>25 – 35  лет</th>
                    <th>36 – 55 лет</th>
                    <th>свыше 55 лет</th>
                </tr>
                <tr>
                    <td>\numYoung</td>
                    <td>\numMidAge</td>
                    <td>\numSenior</td>
                    <td>\numOld</td>
                </tr>
            </table>

        <li> Образование <br />
            <table border="1">
                <tr>
                    <th>Среднее <br/>специальное <br />(педагог.)</th>
                    <th>Среднее <br />специальное <br />(не педагог.)</th>
                    <th>Высшее <br />педагогическое <br />(спец., маг., бак.)</th>
                    <th>Иное <br />высшее</th>
                    <th>Послевузовское <br />(аспирантура, <br />докторантура)</th>
                </tr>
                <tr>
                    <td>\numEduA</td>
                    <td>\numEduB</td>
                    <td>\numEduC, \numEduD, \numEduE</td>
                    <td>\numEduF</td>
                    <td>\numEduG</td>
                </tr>
            </table>


        <li> Педагогический стаж <br />
            <table border="1">
                <tr>
                    <th>до 5 лет</th>
                    <th>6 - 10 лет</th>
                    <th>11 - 20 лет</th>
                    <th>больше 20 лет</th>
                </tr>
                <tr>
                    <td>\numExpA</td>
                    <td>\numExpB</td>
                    <td>\numExpC</td>
                    <td>\numExpD</td>
                </tr>
            </table>

        <li> Стаж работы в данном образовательном учреждении <br />
            <table border="1">
                <tr>
                    <th>до 5 лет</th>
                    <th>6 - 10  лет</th>
                    <th>11 - 20 лет</th>
                    <th>больше 20 лет</th>
                </tr>
                <tr>
                    <td>\numExpHereA</td>
                    <td>\numExpHereB</td>
                    <td>\numExpHereC</td>
                    <td>\numExpHereD</td>
                </tr>
            </table>

        <li> Квалификационная категория <br />
            <table border="1">
                <tr>
                    <th>Не проходил аттестацию</th>
                    <th>Аттестован на соотв</th>
                    <th>2-я категория</th>
                    <th>1-я категория</th>
                    <th>Высшая категория</th>
                </tr>
                <tr>
                    <td>\numTechCatA</td>
                    <td>\numTechCatB</td>
                    <td>\numTechCatC</td>
                    <td>\numTechCatD</td>
                    <td>\numTechCatE</td>
                </tr>
            </table>
        
    </ul>

    <p> <a href="#Start">>> Вернуться в начало >></a></p>

    <!- ======================================================== ->
    <a name="Section11"></a><h3>1.1. Список сотрудников</h3>
    <table border="0">
        <tr>
            <th>№</th>
            <th>Ф. И. О.</th>
            <th>Должность</th>
        </tr>
        <tr>
            <td>1.</td><td>Сидоров Иван Петрович,</td><td>Директор образовательного учреждения</td>
        </tr>
    </table>
    <br />
    <p> <a href="#Start">>> Вернуться в начало >></a></p>


    <a name="Section2"></a><h1>2. Уровень горизонтального доверия</h1>
    
    <p>
        Горизонтальное доверие – это доверие между равными по формальному статусу коллегами (педагогами или членами администрации). Другими словами, горизонтальное доверие - это вера в то, что, открывая коллеге свои профессиональные проблемы, мы не боимся, что полученная информация может быть использована во вред, что это не понизит наш статус в организации, не уменьшит заработанный профессиональный авторитет. Горизонтальное доверие проявляется в сотрудничестве, совместной деятельности, в принятии ценности доверительных отношений.
    </p>

    <p><a href="#Start">>> Вернуться в начало >></a></p>

    <!- ======================================================== ->
    <a name="Section21"></a><h2>2.1. Декларируемый уровень доверия к коллегам</h2>

    <p>
        В этом разделе обсуждаем декларируемое доверие, то есть то, насколько Ваши коллеги в целом (можно сказать, теоретически) признают важность доверия, сотрудничества и обмена опытом. Это не означает, что они руководствуются этими принципами в своем повседневном профессиональном поведении, но считают правильным декларировать именно такую жизненную позицию.
    </p>

    <p>
        В данном разделе анализируются ответы на вопросы Б13, Б14, Б10, Б25, Б30:
    </p>

    <ul>

        <li> [Б13] Есть ли у Вас профессиональные задачи, решение которых требует знакомства с опытом работы других педагогов (преподавателей, воспитателей) Вашей образовательной организации?

        <li> [Б14] Считаете ли Вы полезным и правильным посещение педагогами (преподавателями, воспитателями)  занятий и мероприятий (не открытых, т.е. специально не подготовленных), проводимых другими?

        <li> [Б10] С Вашей точки зрения, большинству коллег в Вашей образовательной организации можно доверять (доверие - уверенность в том, что, если Вы сказали коллеге о своих проблемах или ошибках, то эта информация не будет использована Вам во вред)?

        <li>[Б25] Как Вам кажется, нравится ли педагогам (преподавателям, воспитателям) то, что Вы посещаете их занятия и мероприятия?

        <li>[Б30] Спокойно ли Вам коллеги предоставляют свой кабинет (группу), оборудование для проведения урока (занятия или мероприятия)?

    </ul>

    <p><a href="#Start">>> Вернуться в начало >></a></p>

    <!- ======================================================== ->
    <a name="Section211"></a><h3>2.1.1. Признание ценности сотрудничества и доверия (сводный результат)</h3>

    <p>На диаграмме представлен сводный результат по вопросам Б13, Б14.</p>

    <p>
        <br />Б13. Есть ли у Вас профессиональные задачи, решение которых требует знакомства с опытом работы других педагогов (преподавателей, воспитателей) Вашей образовательной организации?

        <br />Б14. Считаете ли Вы полезным и правильным посещение педагогами (преподавателями, воспитателями)  занятий и мероприятий (не открытых, т.е. специально не подготовленных), проводимых другими?
        <table border="0">
            <tr>
                <td width="30%">
                    <img src="pie211.png">
                </td>
                <td>
                    Ответили утвердительно <br />
                    ("да" или "скорее да, чем нет")  -   \valBAAyesNumP % <br /><br />
                    Ответили отрицательно  <br />
                    ("нет" или "скорее нет, чем да") -  \valBAAnoNumP % <br />

                </td>
            </tr>
        </table>
    </p>

    <p>
        На диаграмме показан сводный результат по вопросам о декларируемом доверии к коллегам. 
    Насколько Вас устраивают полученные данные? Какой процент коллег, не признающих доверие 
    как ценность, Вы бы считали критическим? Как бы Вы интерпретировали высокий процент людей 
    в коллективе, кто ответил утвердительно на обозначенные вопросы?
    </p>

    <p><a href="#Start">>> Вернуться в начало >></a></p>

    <!- ======================================================== ->
    <a name="Section212"></a><h3>2.1.2. Признание ценности сотрудничества и доверия (по группам)</h3>

    <p>
        На диаграммах представлен результат по вопросам Б13, Б14 с разбивкой по возрасту.
    </p>    

    <table border="1">
        <tr>
            <td><img src="pie212a.png" width="170"/></td>
            <td><img src="pie212b.png" width="170" /></td>
            <td><img src="pie212c.png" width="170" /></td>
            <td><img src="pie212d.png" width="170" /></td>
        </tr>
        <tr>
            <td>до 25 лет</td>
            <td>25 - 35  лет</td>
            <td>36 - 55 лет</td>
            <td>свыше 55 лет</td>
        </tr>
    </table>

    <p>
        То же с разбивкой по квалификационной категории.
    </p>

    <table border="1">
        <tr>
            <td><img src="pie213a.png" width="170" /></td>
            <td><img src="pie213b.png" width="170" /></td>
            <td><img src="pie213c.png" width="170" /></td>
            <td><img src="pie213d.png" width="170" /></td>
            <td><img src="pie213e.png" width="170" /></td>
        </tr>
        <tr>
            <td>Не проходили аттестацию</td>
            <td>Аттестованы на соотв.</td>
            <td>2-я категория</td>
            <td>1-я категория</td>
            <td>Высшая категория</td>
        </tr>
    </table>

    <p>
        На диаграммах данные ответов разных возрастных и категориальных групп.
        Советуем отдельно обратить внимание на результаты педагогических работников высшей
        квалификационной категории – ведь это профессиональная элита, которая во многом определяет деятельность Вашей организации.
    </p>

    <p><a href="#Start">>> Вернуться в начало >></a></p>

    <!- ======================================================== ->
    <a name="Section213"></a><h3>2.1.3. Данные по вопросам, включенным в блок "Декларируемый уровень доверия к коллегам"</h3>

    <table>
        <tr>
            <th width="80%"></th>
            <th width="5%">Да</th>
            <th width="5%">Нет</th>
            <th width="10%"></th>
        </tr>
        <tr>
            <td>
                Б10. С Вашей точки зрения, большинству коллег в Вашей образовательной 
                организации можно доверять (доверие - уверенность в том, что, если Вы 
                сказали коллеге о своих проблемах или ошибках, то эта информация не будет 
                использована Вам во вред)?
            </td>
            <td>\valBADyesNumA</td>
            <td>\valBADnoNumA</td>
            <td><img src="pie214a.png" width="120" /></td>
        </tr>

        <tr>
            <td>
                Б13.  Есть ли у Вас профессиональные задачи, решение которых требует знакомства с опытом работы других педагогов (преподавателей, воспитателей) Вашей образовательной организации?
            </td>
            <td>\valBADyesNumB </td>
            <td>\valBADnoNumB </td>
            <td><img src="pie214b.png" width="120" /></td>
        </tr>

        <tr>
            <td>
                Б14. Считаете ли Вы полезным и правильным посещение педагогами (преподавателями, воспитателями)  занятий и мероприятий (не открытых, т.е. специально не подготовленных), проводимых другими?
            </td>
            <td>\valBADyesNumC </td>
            <td>\valBADnoNumC </td>
            <td><img src="pie214c.png" width="120" /></td>
        </tr>

        <tr>
            <td>
                Б25. Как Вам кажется, нравится ли педагогам (преподавателям, воспитателям) то, что Вы посещаете их занятия и мероприятия?
            </td>
            <td>\valBADyesNumD </td>
            <td>\valBADnoNumD </td>
            <td><img src="pie214d.png" width="120" /></td>
        </tr>

        <tr>
            <td>
                Б30. Спокойно ли Вам коллеги предоставляют свой кабинет (группу), оборудование для проведения урока (занятия или мероприятия)?
            </td>
            <td>\valBADyesNumE </td>
            <td>\valBADnoNumE </td>
            <td><img src="pie214e.png" width="120" /></td>
        </tr>
    </table>

    <p><a href="#Start">>> Вернуться в начало >></a></p>

    <!- ======================================================== ->
    <a name="Section22"></a><h2>2.2. Регламентированный и нерегламентированный обмен опытом</h2>
    
    <p>
        Фактически доверие в организации проявляется в обмене опытом и совместной деятельности. В данном разделе основное внимание мы уделяем взаимопосещениям учебных мероприятий. По данным международных исследований, лучшим способом профессионального развития (повышения квалификации) является наблюдение за работой коллеги и последующая рефлексия по этому поводу. Вопрос, который возникает в этом контексте, имеются ли в Вашей образовательной организации условия для реализации взаимопосещений.
    </p>
    
    <p>
        В данном разделе анализируются ответы на вопросы Б3, Б4, Б21, Б22, Б24.
    </p>


    <ul>

        <li> [Б3] Как часто за последний учебный год Вы посещали открытые уроки (занятия, мероприятия) педагогов (преподавателей)  Вашей образовательной организации?</li>

        <li> [Б4] Как часто за последний учебный год Вы давали открытые уроки (занятия, мероприятия)?</li>

        <li> [Б21] Как часто коллеги-педагоги (преподаватели, воспитатели) за последний учебный год посещали Ваши занятия и мероприятия (не открытые, т.е. которые вы специально не готовили)?</li>

        <li> [Б22] Как часто за последний учебный год Вам приходилось бывать на занятиях и мероприятиях (не открытых, т.е. которые они специально не готовили) педагогов (преподавателей, воспитателей) Вашей образовательной организации?</li>

        <li> [Б24] После посещения занятий  и мероприятий (открытых и неоткрытых)  в нашей образовательной организации  обычно:</li>

    </ul>

    <p><a href="#Start">>> Вернуться в начало >></a></p>

    <!- ======================================================== ->
    <a name="Section221"></a><h3>2.2.1. Частотность обмена опытом в организации (сводный результат)</h3>

    <p>
        На диаграмме представлен сводный результат по вопросам Б3, Б4, Б21, Б22.
    </p>    

    <table border="0">
        <tr>
            <td width="30%">
                <img src="pie221.png" width="300">
            </td>
            <td>
                Достаточно часто <br />
                ("Раз в неделю" или "Раз в месяц")  -   \valBBAyesNumP % <br /><br />
                Достаточно редко  <br />
                ("Раз в полугодие" или "Ещё реже") -  \valBBAnoNumP % <br />

            </td>
        </tr>
    </table>

    <p>
        На диаграмме сводный результат по вопросам обмена опытом. Насколько часто, с Вашей точки зрения, сотрудники должны обмениваться опытом? Как соотносится Ваше представление с реальной ситуацией, обозначенной на диаграмме?
    </p>

    <p><a href="#Start">>> Вернуться в начало >></a></p>

    <!- ======================================================== ->
    <a name="Section222"></a><h3>2.2.2. Частотность обмена опытом в организации (по группам)</h3>

    <p>
        На диаграммах представлен результат по вопросам Б3, Б4, Б21, Б22 с разбивкой по возрасту.
    </p>

    <table border="1">
        <tr>
            <td><img src="pie222a.png" width="170" /></td>
            <td><img src="pie222b.png" width="170" /></td>
            <td><img src="pie222c.png" width="170" /></td>
            <td><img src="pie222d.png" width="170" /></td>
        </tr>
        <tr>
            <td>до 25 лет</td>
            <td>25 - 35  лет</td>
            <td>36 - 55 лет</td>
            <td>свыше 55 лет</td>
        </tr>
    </table>

    <p>
        То же с разбивкой по квалификационной категории.
    </p>

    <table border="1">
        <tr>
            <td><img src="pie223a.png" width="170" /></td>
            <td><img src="pie223b.png" width="170" /></td>
            <td><img src="pie223c.png" width="170" /></td>
            <td><img src="pie223d.png" width="170" /></td>
            <td><img src="pie223e.png" width="170" /></td>
        </tr>
        <tr>
            <td>Не проходили аттестацию</td>
            <td>Аттестованы на соотв.</td>
            <td>2-я категория</td>
            <td>1-я категория</td>
            <td>Высшая категория</td>
        </tr>
    </table>

    <p>
        На диаграммах данные ответов разных возрастных и категориальных групп.
        Выбивается ли какая-нибудь возрастная группа из общей картины?
        Отличается ли оценка ситуации по обмену опытом у групп по квалификационной категории?
    </p>



    <p><a href="#Start">>> Вернуться в начало >></a></p>

    <!- ======================================================== ->
    <a name="Section223"></a><h3>2.2.3. Данные по вопросам, включенным в блок "Регламентированный и нерегламентированный обмен опытом"</h3>
    <table>
        <tr>
            <th width="80%"></th>
            <th width="5%">Достаточно часто</th>
            <th width="5%">Достаточно редко</th>
            <th width="10%"></th>
        </tr>
        <tr>
            <td>
                Б3.  Как часто за последний учебный год Вы посещали открытые уроки (занятия, мероприятия) педагогов (преподавателей)  Вашей образовательной организации?
            </td>
            <td>\valBBDyesNumA</td>
            <td>\valBBDnoNumA</td>
            <td><img src="pie224a.png" width="120"></td>
        </tr>

        <tr>
            <td>
                Б4. Как часто за последний учебный год Вы давали открытые уроки (занятия, мероприятия)?
            </td>
            <td>\valBBDyesNumB</td>
            <td>\valBBDnoNumB</td>
            <td><img src="pie224b.png" width="120"></td>
        </tr>

        <tr>
            <td>
                Б21. Как часто коллеги-педагоги (преподаватели, воспитатели) за последний учебный год посещали Ваши занятия и мероприятия (не открытые, т.е. которые вы специально не готовили)?
            </td>
            <td>\valBBDyesNumC</td>
            <td>\valBBDnoNumC</td>
            <td><img src="pie224c.png" width="120"></td>
        </tr>

        <tr>
            <td>
                Б22. Как часто за последний учебный год Вам приходилось бывать на занятиях и мероприятиях (не открытых, т.е. которые они специально не готовили) педагогов (преподавателей, воспитателей) Вашей образовательной организации?
            </td>
            <td>\valBBDyesNumD</td>
            <td>\valBBDnoNumD</td>
            <td><img src="pie224d.png" width="120"></td>
        </tr>

    </table>

    <p><a href="#Start">>> Вернуться в начало >></a></p>

    <!- ======================================================== ->
    <a name="Section224"></a><h3>2.2.4. Тип организации взаимодействия по обмену опытом</h3>

    <p>
        На диаграмме представлен результат по вопросу Б24.
    </p>

    <table border="0">
        <tr>
            <td width="30%">
                <img src="pie225.png" width="300">
            </td>
            <td>
                Занятие (мероприятие) обсуждается <br />
                один на один с преподавателем - \valBBEansA (\valBBEansAp %) <br /><br />
                Занятие (мероприятие)   анализируется <br />
                с администрацией - \valBBEansB (\valBBEansBp %) <br /><br />
                Организуется групповое обсуждение <br />
                занятия (мероприятия) всеми <br />
                присутствовавшими на нем - \valBBEansC (\valBBEansCp %) <br /><br />
                Ничего не происходит - \valBBEansD (\valBBEansDp %) <br />
            </td>
        </tr>
    </table>

    <p>
        Вам представлены данные о том, как чаще всего реально осуществляется обмен опытом.
        Хотите ли Вы изменить соотношение указанных способов? В каких случаях эффективно будет групповое обсуждение,
        а когда индивидуальный разговор? Какую степень задействованности администрации Вы считаете оптимальной?
    </p>

    <p><a href="#Start">>> Вернуться в начало >></a></p>

    <!- ======================================================== ->
    <a name="Section23"></a><h2>2.3. Наличие команд, совместной деятельности</h2>
    <p>
        В этом блоке Вам представлены данные ответов на отдельные вопросы, касающиеся второго аспекта фактического доверия - совместной деятельности педагогов и команд.
    </p>
    <p>
        В данном разделе анализируются ответы на вопросы К4, Б27, Б28, Б5.
    </p>

    <ul>

        <li> [К4] Являетесь ли Вы членом какой-либо постоянной группы, команды, занимающейся вопросами преподавания и воспитания, планирования?</li>

        <li> [Б27] Насколько часто за последний учебный год встречались члены группы (команды), занимающейся вопросами преподавания и воспитания, планирования?</li>

        <li> [Б28] Обсуждение вопросов в таких группах (командах) происходит, как правило</li>

        <li> [Б5] Как часто за последний учебный год  Вы проводили с другими педагогами  (преподавателями, воспитателями) интегрированные занятия или иные совместные мероприятия?</li>

    </ul>

    <p><a href="#Start">>> Вернуться в начало >></a></p>

    <!- ======================================================== ->
    <a name="Section231"></a><h3>2.3.1. Участие в работе команд </h3>
    <p>
        На диаграмме представлен сводный результат по вопросу К4.
    </p>

    <p>
        [К4] Являетесь ли Вы членом какой-либо постоянной группы, команды, занимающейся вопросами преподавания и воспитания, планирования?
    </p>

    <table border="0">
        <tr>
            <td width="30%">
                <img src="pie231.png" width="300">
            </td>
            <td>
                Ответили утвердительно - \valBCAyesNum (\valBCAyesNP %) <br /><br />
                Ответили отрицательно - \valBCAnoNum (\valBCAnoNP %) <br />
            </td>
        </tr>
    </table>

    <p>
        Обратите внимание, какая часть коллектива считает, что команды есть и относит себя к ним, а какая нет?
    </p>

    <p><a href="#Start">>> Вернуться в начало >></a></p>

    <!- ======================================================== ->
    <a name="Section232"></a><h3>2.3.2. Частотность работы команд</h3>
    <p>
        На диаграмме представлен сводный результат по вопросу Б27.
    </p>

    <p>
        [Б27] Насколько часто за последний учебный год встречались члены группы (команды), занимающейся вопросами преподавания и воспитания, планирования?    
    </p>

    <table border="0">
        <tr>
            <td width="30%">
                <img src="pie232.png" width="300">
            </td>
            <td>
                Достаточно часто  <br />
                ("Несколько раз в неделю" или "Раз в неделю")  - \valBCByesNum (\valBCByesNP %) <br /><br />
                Достаточно редко  <br />
                ("Раз в месяц" или "Еще реже") - \valBCBnoNum (\valBCBnoNP %) <br />
            </td>
        </tr>
    </table>

    <p>
        Если команда встречается «достаточно редко», то это не команда, а скорее некоторая формальная группа.
    </p>

    <p><a href="#Start">>> Вернуться в начало >></a></p>

    <!- ======================================================== ->
    <a name="Section233"></a><h3>2.3.3. Процедура работы команд</h3>
    <p>
        На диаграмме представлен результат по вопросу Б28.
    </p>

    <p>
        [Б28] Обсуждение вопросов в таких группах (командах) происходит, как правило:
    </p>

    <table border="0">
        <tr>
            <td width="30%">
                <img src="pie233.png" width="300">
            </td>
            <td>
                На перемене (в перерывах между занятиями) - \valBCCansA (\valBCCanAp %)  <br /><br />
                Для этого есть специальное время и место - \valBCCansB (\valBCCanBp %) <br /><br />
                Другое - \valBCCansC (\valBCCanCp %) <br />
            </td>
        </tr>
    </table>

    <p>
        Обратите внимание, где происходят встречи команд? Как Вы полагаете, какое место для встреч было бы оптимальным?
    </p>

    <p><a href="#Start">>> Вернуться в начало >></a></p>

    <!- ======================================================== ->
    <a name="Section234"></a><h3>2.3.4. Частотность совместной деятельности</h3>

    <p>
        На диаграмме представлен сводный результат по вопросу Б5.
    </p>

    <p>
        [Б5] Как часто за последний учебный год  Вы проводили с другими педагогами  (преподавателями, воспитателями) интегрированные занятия или иные совместные мероприятия?
    </p>

    <table border="0">
        <tr>
            <td width="30%">
                <img src="pie234.png" width="300">
            </td>
            <td>
                Достаточно часто <br />
                ("Раз в неделю" или "Раз в месяц")  - \valBCDyesNum (\valBCDyesNP %) <br /><br />
                Достаточно редко  <br />
                ("Раз в полугодие" или "Еще реже") - \valBCDnoNum (\valBCDnoNP %) <br />
            </td>
        </tr>
    </table>

    <p>
        Обратите внимание, насколько часто в Вашей организации проходят совместные образовательные мероприятия (интегрированные уроки, общие проекты и т.п.)?
    </p>

    <p><a href="#Start">>> Вернуться в начало >></a></p>


</body>

</html>
